body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
    color: #3D9970;
}

.container {
    background: #7FDBFF;
    padding: 40px;
    max-width: 400px;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color:#3D9970;
    margin-bottom: 30px;
}

label {
    display: block;
    margin-top: 20px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    box-sizing: border-box;
}

input[disabled] {
    background-color: whitesmoke;
    color: #B10DC9;
}

#tip {
    background-color: #FFDC00;
    width: 40px;
    text-align: center;
    font-weight: bold;
    padding: 8px;
    border-radius: 4px;
}

.slider-row {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
}

.error {
    color: red;
    margin-top: 10px;
    font-weight: bold;
}