body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 20px;
}

.container {
    background: #7FDBFF;
    padding: 50px;
    max-width: 400px;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #001f3f;
    margin-bottom: 40px;
}

label {
    display: block;
    margin-top: 20px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    box-sizing: border-box;
}